body{
    background: #282C44;
}
*{
    color: white;
}
form{
    padding: 20px 30px;
}
h2{
    font-size: 36px;
    font-weight: 500;
    color: #E88547;
}
.text-input{
    border: solid 4px #241F34;
    background: #282C44;
    color: #C7C7C7;
    font-size: 1.2rem;
    margin-right: 30px;
    padding: 8px 12px;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
}
.text-input::placeholder{
    color: #484848;
    font-weight: bold;
}
.number-input{
    border: solid 4px #241F34;
    background: #282C44;
    color: #C7C7C7;
    font-size: 1.2rem;
    margin-right: 30px;
    padding: 8px 12px;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
}
.number-input::placeholder{
    color: #484848;
    font-weight: bold;
}
.radio-btns-container{
    display: flex;
    flex-direction: row;
}
.radio-btns-label{
    color: #E88547;
    font-size: 1.3rem;
    margin-right: 20px;
}
.radio-btns{
    display: flex;
    flex-direction: column;
}
.radio-btn{
    display: flex;
    align-items: center;
    margin: 2px 0;
}
.radio-input{
    margin-right: 3px;
    accent-color: #E88547;
    transform: scale(1.3);
}
.radio-label{
    color: #C7C7C7;
    font-size: 1.1rem;
    margin-left: 8px;
    cursor: pointer;
}
a{
    font-size: 1.3rem;
    color: #E88547;
}
.submit-btn{
    background: #E88547;
    color: black;
    padding: 5px 25px;
    border-radius: 1000px;
    font-size: 1.3rem;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    transition-duration: 200ms;
    font-weight: bold;
}
.submit-btn:hover{
    color: white;
    background: #c7662a;
    box-shadow: 0px 0px 20px rgba(232, 133, 71, 1);
}
.submit-btn:active{
    color: white;
    background: #96410c;
    box-shadow: 0px 0px 20px rgba(172, 81, 25, 1);

}
.input-field{
    margin-top: -15px;
}
.input-title{
    color: #C7C7C7;
    transform: translateY(8px) translateX(8px);
    background: #282C44;
    padding: 0px 4px;
    /* border: 1px solid red; */
    width: fit-content;
    font-weight: bold;
}
.horizontal-container{
    display: flex;
    flex-direction: row;
    margin-bottom: -20px;
}
.text-inside-input{
    transform: translateX(250px) translateY(-32px);
    font-size: 1.2rem;
    width: fit-content;
    color: #C7C7C7;
}
/* Removes arrows for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Removes arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ------------ Home Page ---------------------------------------------------------------------------------------------------------------- */

.bento-container-vertical{
    display: flex;
    flex-direction: column;
}
.bento-container-horizontal{
    display: flex;
    flex-direction: row;
}
